<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fakebook, <%= @user.first_name %></h1>
  
    <p> Try it out at <%= @url %></p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>