<div id="photo">
</div>
<div id="user-info">
  <%= "First Name: #{current_user.first_name}"%>
  <br>
  <%= "Last Name: #{current_user.last_name}"%>
</div>
<div id="posts">
  <%= render 'posts/posts', posts: @posts%>
</div>


