<div id="heading">
  <h1>Friends</h1>
</div>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friend| %>
      <tr>
        <td><%= friend.first_name%> <%= friend.last_name%></td>
        <td> <%= link_to 'Unfriend', friend, method: :delete, data: {confirm: 'Are you sure?'}%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
