#forgot-password-screen {
  margin-left: 20px;
  font-size: 18px;
  color: black;
}

#forgot-password-screen .field label {
  margin-bottom: 10px;
}

#forgot-password-screen .actions input {
  background-color: #139100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
