@font-face {
  font-family: 'Nimbus-Sans';
  src: url('Nimbus-Sans');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#user_nav a {
  color: white;
}

#heading {
  padding: .5em;
}

#body-container {
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  padding: 20px 0 0 20px;
  margin-top: 20px;
  width: 100vw;
  font-family: 'Nimbus-Sans';
}

body {
  overflow: hidden;
  margin: 0;
}