#registration-page {
  margin-left: 20px;
  font-size: 18px;
  color: black;
}

#registration-page .field label {
  margin-bottom: 7px;
  margin-top: 15px;
}

#registration-page .actions input {
  background-color: #139100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

#registration-page .sign-in-links {
  height: 60px;
}